In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
#csv to DataFrame
df_Buses_Kerela = pd.read_csv("df_Kerela_Busdetails.csv")
df_Buses_Andhra = pd.read_csv("df_Andhra_Busdetails.csv")
df_Buses_Telungana = pd.read_csv("df_Telungana_Busdetails.csv")
df_Buses_Goa = pd.read_csv("df_Goa_Busdetails.csv")
df_Buses_Rajasthan = pd.read_csv("df_Rajasthan_Busdetails.csv")
df_Buses_SouthBengal = pd.read_csv("df_SouthBengal_Busdetails.csv")
df_Buses_Haryana = pd.read_csv("df_Haryana_Busdetails.csv")
df_Buses_Assam = pd.read_csv("df_Assam_Busdetails.csv")
df_Buses_UttarPradesh = pd.read_csv("df_UttarPradesh_Busdetails.csv")
df_Buses_WestBengal = pd.read_csv("df_WestBengal_Busdetails.csv")

Final_df = pd.concat([df_Buses_Kerela,df_Buses_Andhra,df_Buses_Telungana,df_Buses_Goa,df_Buses_Rajasthan,df_Buses_Haryana,df_Buses_Assam,
                      df_Buses_SouthBengal,df_Buses_WestBengal,df_Buses_UttarPradesh],ignore_index=True)
Final_df

,Bus_Name,Bus_Type,Starting_Time,Ending_Time,Total_Duration,Price,Seats_Available,Ratings,Route_Link,Route_Name
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 800,16 Seats available,4.4\r\n541,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,INR 1049,13 Seats available,4.3\r\n208,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,INR 799,38 Seats available,4.1\r\n348,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 900,20 Seats available,3.9\r\n264,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 1299,22 Seats available,4.1\r\n315,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
14017,UPSRTC - SJP0657,Ordinary Non AC Seater 2+3,14:30,22:50,08h 20m,INR 521,52 Seats available,3.3,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly
14018,UPSRTC - RKD0057,Ordinary Non AC Seater 2+3,19:31,03:00,07h 29m,INR 517,52 Seats available,3.1\r\n4,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly
14019,UPSRTC - RKD0135,Janrath AC Seater 2+3,22:31,06:01,07h 30m,INR 652,48 Seats available,2.3\r\n40,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly
14020,Vijay Tour and Travels,Bharat Benz A/C Seater /Sleeper (2+1),15:30,23:10,07h 40m,854,40 Seats available,2.9\r\n17,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly
14021,Mahalaxmi Travels,Bharat Benz A/C Seater /Sleeper (2+1),17:00,03:00,10h 00m,INR 899,24 Seats available,3.6,https://www.redbus.in/bus-tickets/dehradun-to-...,Dehradun to Bareilly

## Data Cleaning

In [3]:
#data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14022 entries, 0 to 14021
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_Name         14022 non-null  object
 1   Bus_Type         14022 non-null  object
 2   Starting_Time    14022 non-null  object
 3   Ending_Time      14022 non-null  object
 4   Total_Duration   14022 non-null  object
 5   Price            14022 non-null  object
 6   Seats_Available  14022 non-null  object
 7   Ratings          14022 non-null  object
 8   Route_Link       14022 non-null  object
 9   Route_Name       14022 non-null  object
dtypes: object(10)
memory usage: 1.1+ MB

In [4]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0         800.0
1        1049.0
2         799.0
3         900.0
4        1299.0
          ...
14017     521.0
14018     517.0
14019     652.0
14020     854.0
14021     899.0
Name: Price, Length: 14022, dtype: float64

In [5]:
#convert Ratings to numeric
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"],errors="coerce")
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\sridh\AppData\Local\Temp\ipykernel_25924\2766692324.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [6]:
#info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14022 entries, 0 to 14021
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_Name         14022 non-null  object
 1   Bus_Type         14022 non-null  object
 2   Starting_Time    14022 non-null  object
 3   Ending_Time      14022 non-null  object
 4   Total_Duration   14022 non-null  object
 5   Price            14022 non-null  float64
 6   Seats_Available  14022 non-null  object
 7   Ratings          14022 non-null  float64
 8   Route_Link       14022 non-null  object
 9   Route_Name       14022 non-null  object
dtypes: float64(2), object(8)
memory usage: 1.1+ MB

In [7]:
Final_df =Final_df[Final_df["Price"] <= 7000]

In [8]:
#replacing the nan value
Final_df = Final_df.replace({np.nan : None})

In [9]:
#change DataFrame to csv
path = r"C:/Users/sridh/OneDrive/Desktop/redbus/routes_link/Final_Busdetails.csv"
Final_df.to_csv(path,index=False)


## Create a mysql database

In [2]:
#sql connection
conn = mysql.connector.connect(host = "localhost",user = "root",password = "",database = "RED_BUS_DETAILS")
my_cursor = conn.cursor(buffered=True)
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [23]:
#Table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_Name VARCHAR (255) NOT NULL,
                  Bus_Type VARCHAR (255) NOT NULL,
                  Starting_Time VARCHAR (255) NOT NULL,
                  Ending_Time VARCHAR (255) NOT NULL,
                  Total_Duration VARCHAR (255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR (255) NOT NULL,
                  Ratings FLOAT NULL,
                  Route_Link VARCHAR(255) NULL,
                  Route_Name VARCHAR (255) NULL
                  )''')
print("TABLE CREATED SUCCESSFULLY")

TABLE CREATED SUCCESSFULLY

In [24]:

# SQL Query to insert data into bus_details table
insert_query = """INSERT INTO bus_details(
                    Bus_Name,
                    Bus_Type,
                    Starting_Time,
                    Ending_Time,
                    Total_Duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_Link,
                    Route_Name)
                  VALUES(%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s )"""

# Loop through the DataFrame and insert each row into the database
try:
    for index, row in Final_df.iterrows():
        my_cursor.execute(insert_query, (
            row["Bus_Name"],
            row["Bus_Type"],
            row["Starting_Time"],
            row["Ending_Time"],
            row["Total_Duration"],
            row["Price"],
            row["Seats_Available"],
            row["Ratings"],
            row["Route_Link"],
            row["Route_Name"]
        ))

    # Commit the transaction to the database
    conn.commit()

    print("Data inserted successfully")

except mysql.connector.Error as e:
    # If there's an error, print it and roll back the transaction
    print(f"Error: {e}")
    conn.rollback()

finally:
    # Close the cursor and connection
    my_cursor.close()
    conn.close()

Data inserted successfully